*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.theme_btn{
    position: fixed;
    top: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    background-color: rgb(198, 222, 243);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5),
    -10px 10px 15px rgba(255, 255, 255, 0.5);
    border: 5px solid rgb(198, 222, 243);
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
}

.theme_btn:active{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
    -5px 5px 5px rgba(255, 255, 255, 0.5),
    inset 5px 5px 5px rgba(0, 0, 0, 0.5),
    inset -5px 5px 5px rgba(255, 255, 255, 0.5);
}

body{
    background-color: rgb(198, 222, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body.dark{
    background-color: #333333;
}

.wrapper{
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 50%), 
    -12px -11px 15px rgb(255 255 255 / 50%), 
    inset 10px 10px 15px rgb(0 0 0 / 50%), 
    inset -10px 10px 15px rgb(255 255 255 / 50%);
    /* height: 660px; */
    height: 220px;
    transition: 0.5s linear;
    background-color: rgb(198, 222, 243);
}
.wrapper.dark{
    background-color: #333333;
    box-shadow: -3px -4px 7px 0px rgb(255 255 255 / 31%), 
                12px 13px 10px rgb(0 0 0 / 55%);
    color: white;
}

.wrapper .title{
    text-align: center;
}

.wrapper .title h1 > sup{
    background-color: rgb(113, 170, 219);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.wrapper .search_bar{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper .search_bar #cityName{
    height: 70px;
    width: 80%;
    font-size: 20px;
    padding: 0 20px;
    border: 8px solid rgb(198, 222, 243);
    outline: none;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
    -10px 10px 10px rgba(255, 255, 255, 0.5),
    inset 10px 10px 10px rgba(0, 0, 0, 0.5),
    inset -10px 10px 10px rgba(255, 255, 255, 0.5);
    background-color: rgb(198, 222, 243);
}

.wrapper .search_bar #cityName::placeholder{
    color: black;
}

.wrapper .search_bar #cityName.dark{
    border: 8px solid #333333;
    background-color: #333333;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%), -5px -5px 10px rgb(255 255 255 / 50%), inset 5px 5px 10px rgb(0 0 0 / 50%), inset -5px -5px 10px rgb(255 255 255 / 50%);
    color: white;
}

.wrapper .search_bar #cityName.dark::placeholder{
    color: white;
}

.wrapper .search_bar #search{
    width: 20%;
    height: 70px;
    border: 8px solid rgb(198, 222, 243);
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
    -8px 8px 8px rgba(255, 255, 255, 0.5);
    background-color: rgb(198, 222, 243);
    cursor: pointer;
    margin-left: 10px;
}

.wrapper .search_bar #search.dark{
    color: white;
    border: 8px solid #333333;
    background-color: #333333;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%), -5px -5px 10px rgb(255 255 255 / 50%);

}

.wrapper .search_bar #search:active{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
    -5px 5px 5px rgba(255, 255, 255, 0.5),
    inset 5px 5px 5px rgba(0, 0, 0, 0.5),
    inset -5px 5px 5px rgba(255, 255, 255, 0.5);
}
.wrapper .my_location{
    text-align: center;
}

.wrapper .my_location #my_loc{
    width: 90%;
    height: 50px;
    border: 5px solid rgb(198, 222, 243);
    outline: none;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
    -8px 8px 8px rgba(255, 255, 255, 0.5);
    background-color: rgb(198, 222, 243);
    cursor: pointer;
}

.wrapper .my_location #my_loc.dark{
    color: white;
    border: 5px solid #333333;
    background-color: #333333;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%), -5px -5px 10px rgb(255 255 255 / 50%);
}

.wrapper .my_location #my_loc:active{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
    -5px 5px 5px rgba(255, 255, 255, 0.5),
    inset 5px 5px 5px rgba(0, 0, 0, 0.5),
    inset -5px 5px 5px rgba(255, 255, 255, 0.5);
}

.wrapper .containt{
    text-align: center;
    margin-top: 50px;
    visibility: hidden;
}

.wrapper #icon{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 10px 0;
    border: 8px solid rgb(198, 222, 243);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
    -5px 5px 5px rgba(255, 255, 255, 0.5),
    inset 5px 5px 5px rgba(0, 0, 0, 0.5),
    inset -5px 5px 5px rgba(255, 255, 255, 0.5);
}

.wrapper #icon.dark{
    border: 8px solid #333333;
    color: white;
    box-shadow: 8px 8px 5px rgb(0 0 0 / 50%), -5px -5px 5px rgb(255 255 255 / 50%), inset 5px 5px 5px rgb(0 0 0 / 50%), inset -3px -3px 5px rgb(255 255 255 / 50%);
}

.wrapper .containt #min_max_temp,
.wrapper .containt #others{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.wrapper .containt #min_max_temp .left,
.wrapper .containt #min_max_temp .right,
.wrapper .containt #others .left,
.wrapper .containt #others .right{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    font-size: 28px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5),
    -5px 5px 5px rgba(255, 255, 255, 0.5),
    inset 5px 5px 5px rgba(0, 0, 0, 0.5),
    inset -5px 5px 5px rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}